@import "../../styles/global.scss";

$font-small: 16px;
$font-medium: 24px;
$font-big: 46px;


.details {
   position: relative;
   background: $white;
   width: calc(100% - 32px);
   margin: auto;
   max-width: 900px;

   .content {
      display: flex;
      flex-direction: column;
      flex: 1;
   }

   .row {
      flex: 1;
      padding: $font-small;
   }

   .product {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .condition-qty {
         font-size: $font-small;
         text-transform: capitalize;
      }

      .title {
         margin-top: 0px;
         font-size: $font-medium;
      }

      .price {
         font-size: $font-big;
         margin: 32px 0;
         white-space: nowrap;
      }

      .buy {
         width: 100%;
         font-size: $font-small - 2px;
         background-color: $complementary;
      }

      .picture {
         height: auto;
         object-fit: cover;
         padding: 0;
         min-height: 300px;
         min-width: 300px;
         max-height: 100%;
         max-width: 100%;
      }
   }

   .description {
      .row {
         flex: 1;
         padding: 16px;
      }
   }
}

@media screen and (max-width: 800px) {
   .product {
      .condition-qty {
         font-size: 14px !important;
      }

      .title {
         font-size: 18px !important;
      }

      .price {
         font-size: 32px !important;
      }

      .buy {
         font-size: 14px !important;
      }
   }
}